<h1>my qoutes </h1>
<hr> 


<div class="row">
  <div class="col-xl-6">
    <div class="card">
      <ul>
        <div *ngFor='let qoute of qoutes; let i = index'>
          <div>
            <h6>{{qoute.name}} submitted on {{qoute.completeDate|date|uppercase}}</h6>
            <button class="btn btn-primary" (click)='toogleDetails(i)'>Toogle Details</button>
          </div>
          <div *ngIf="qoute.showDescription">
            <app-qoute-details [qoute]='qoute' (isComplete)='deleteQoute ($event, i)'></app-qoute-details>
          </div>
          <app-count-input></app-count-input>
        </div>
      </ul>
    </div>
  </div>
  
  <div class="col-xl-6">
   <app-qouteform (addQoute)="addnewQuote($event)"></app-qouteform>
  </div>

</div>